*.orig
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.dll
*.xap
*.scc
*.clw
*.eto
*.avi
*.FileListAbsolute.txt
*.resharper
*.[Cc]ache
*.feature.cs
*DXCore.Solution
Ankh.Load
Backup*
PrecompiledWeb/
UpgradeLog*.*
_UpgradeReport_Files
#hgignore[.-]*
ignore[.-]*
#svnignore[.-]*
ClientBin*/
[Bb]in
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.DS_Store
Thumbs.db
thumbs.db
TestResults\*
desktop.ini
packages
Help
libs
[Ll]ogs/
.vs/
.sonarqube/
NdOfficeAutomation/NetDocuments.Automation.Rest.Tests/Scripts/tools/
NdOfficeAutomation/codealike.json
